ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #75F0A7;
  content: "\003E";
}

ul.breadcrumb li a {
  color: #606060;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #606060;
  text-decoration: underline;
}
