.wrapper_article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 15% 0 15%;
}

li {
  list-style: square;
}

li a {
  color: #007bff;
  text-decoration: underline;
}

img {
  height: 200px;
}
